In [ ]:
import pandas as pd

og_df=pd.read_csv("MentalHealth_dataset.csv")
og_df.head()

#to show how many missing values there are (null)
og_df.info()
og_df.isna().sum()

#creating a copy of the original file in order to produce a new file called df_clean
df_clean = og_df.copy()

#remove duplicates in order to remove bias
df_clean = df_clean.drop_duplicates()

#creating a mapping dictionary
continent_map = {
    "Australia" : "Oceania",
    "Belgium" : "Europe",
    "Bosnia and Herzegovina" : "Europe",
    "Brazil" : "South America",
    "Canada" : "North America",
    "Colombia" : "South America",
    "Costa Rica" : "South America",
    "Croatia" : "Europe",
    "Czech Republic" : "Europe",
    "Denmark" : "Europe",
    "Finland" : "Europe",
    "France" : "Europe",
    "Georgia" : "Europe",
    "Germany" : "Europe",
    "Greece" : "Europe",
    "India" : "Asia",
    "Ireland" : "Europe",
    "Israel" : "Asia",
    "Italy" : "Europe",
    "Mexico" : "South America",
    "Moldova" : "Europe",
    "Netherlands" : "Europe",
    "New Zealand" : "Oceania",
    "Nigeria" : "Africa",
    "Philippines" : "Asia",
    "Poland" : "Europe",
    "Portugal" : "Europe",
    "Russia" : "Europe",
    "Singapore" : "Asia",
    "South Africa" : "Africa",
    "Sweden" : "Europe",
    "Switzerland" : "Europe",
    "Thailand" : "Asia",
    "United Kingdom" : "Europe",
    "United States" : "North America"
}
df_clean["Continent"] = df_clean["Country"].map(continent_map)

#we have no numerical values, so only need to fill in missing categorical values:
categorical_cols = df_clean.select_dtypes(include=['object', 'category']).columns
#filling in the missing values using mode
df_clean[categorical_cols] = df_clean[categorical_cols].fillna(df_clean[categorical_cols].mode().iloc[0])

#removing the variables we're not interested in
df_clean = df_clean.drop(
    columns=[
        "Timestamp",
        "Days_Indoors",
        "Changes_Habits",
        "Mood_Swings",
        "Work_Interest",
        "Social_Weakness",
        "Coping_Struggles",
        "mental_health_interview"
    ], 
    errors="ignore")

#moving the 'Continent' column to be next to 'Country'
continent = df_clean["Continent"]
df_clean = df_clean.drop(columns=["Continent"])
df_clean.insert(df_clean.columns.get_loc("Country") + 1, "Continent", continent)

#to save cleaned dataset
df_clean.to_csv("C:/Users/PC/Documents/clean_MH_data_vs03.csv", index=False)
df_clean.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  object
 1   Gender                   292364 non-null  object
 2   Country                  292364 non-null  object
 3   Occupation               292364 non-null  object
 4   self_employed            287162 non-null  object
 5   family_history           292364 non-null  object
 6   treatment                292364 non-null  object
 7   Days_Indoors             292364 non-null  object
 8   Growing_Stress           292364 non-null  object
 9   Changes_Habits           292364 non-null  object
 10  Mental_Health_History    292364 non-null  object
 11  Mood_Swings              292364 non-null  object
 12  Coping_Struggles         292364 non-null  object
 13  Work_Interest            292364 non-null  object
 14  Social_Weakness          292364 non-null  object
 15  mental_health_interview  292364 non-null  object
 16  care_options             292364 non-null  object
dtypes: object(17)
memory usage: 37.9+ MB

,Gender,Country,Continent,Occupation,self_employed,family_history,treatment,Growing_Stress,Mental_Health_History,care_options
0,Female,United States,North America,Corporate,No,No,Yes,Yes,Yes,Not sure
1,Female,United States,North America,Corporate,No,Yes,Yes,Yes,Yes,No
2,Female,United States,North America,Corporate,No,Yes,Yes,Yes,Yes,Yes
3,Female,United States,North America,Corporate,No,Yes,Yes,Yes,Yes,Yes
4,Female,United States,North America,Corporate,No,Yes,Yes,Yes,Yes,Yes